!!! 5
%html
  %head
    %title spicy and cheesy you will find in microwave buffalo chicken
    %meta{:name => "google-site-verification", :content => "TT2ff2OdLRdBa1aqY6lg0ieSdGvf2yu_S2g7hE3LdhM"}
    :plain
      <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-10284368-11']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
      </script>
  %body
    %h1
      spicy and cheesy you will find in microwave buffalo chicken

    - if @q
      Incoming search query:
      = @q
    - else
      %a{:href => 'https://encrypted.google.com/search?q="spicy+and+cheesy+you+will+find+in+microwave+buffalo+chicken"'} Search for 'spicy and cheesy you will find in microwave buffalo chicken'

  /
    %h2
      env
    %table
      - env.each do |k, v|
        %tr
          %td
            = k
          %td
            = v
